[2012-12-01 12:52] TBoris opened #1 "How to use"
Hello, I have a question: how to use this plugin? Which redmine link should I go to see something?

[2012-12-26 10:01] Junny opened #2 ""404 not found" page on clicking "configure" link of plugin"
Environment:
  Redmine version                          2.1.4.stable
  Ruby version                             1.9.3 (x86_64-linux)
  Rails version                            3.2.8
  Environment                              production
  Database adapter                         Mysql2
Redmine plugins:
  progressive_projects_list                0.0.2

[2012-12-27 11:31] #2 closed, assigned to stgeneral

[2012-12-27 11:33] #1 closed, assigned to stgeneral

[2013-01-02 21:39] stf675 opened #3 "Does not update "Project Progress" on subprojects"
Created a subproject of thee root project.

Added one issue, with 50% done - project progress bar still shows 0%

[2013-01-09 19:38] #3 closed, assigned to stgeneral

[2013-01-10 11:27] cforce opened #4 "add compatbility notes - on which redmine version does it work?"

[2013-01-10 11:28] cforce opened #5 "let user switch options in projects view himself"
Admin can set vdfeault options, but like on every earch menu the user shall be able to configure himself how the view shall look like.

[2013-01-10 11:29] cforce opened #6 "filter list by project search"
It would be useful to filter the list/tree by project name while typing in a search box on top of view

[2013-01-10 11:30] cforce opened #7 "collapse/expand tree's - expand all/ collapse all - complete tree and subtree"
For more than 20 projects a tree expand collapse feature is very useful.

[2013-01-10 11:34] cforce opened #8 "box - multi column layout"
intsead of a tree it could be usefull to show projects in a cell-table layout , every project in a box, e.g 2 or thre project boxes per row.  See similoar example here: http://redminecrm.com/projects

Subproject are libnks in it's parent projects nox, Clicking onit will open a new view where parent project has one row on top and all childs are ordenered in multi column layout below.

[2013-01-10 13:39] #4 closed, assigned to nobody

[2013-01-15 10:04] cforce opened #9 "de locale /utf8-without BOM"
de:
  setting_show_project_description: Projektbeschreibung anzeigen
  setting_show_project_progress: Projektfortschritt anzeigen
  setting_show_project_menu: Projketmenü anzeigen

[2013-01-16 13:49] tomyfranncy opened #10 "Added one issue,60% done - project progress bar still shows 0%"
Added one issue,60% done - project progress bar still shows 0%

version 0.10

[2013-01-16 18:52] #5 closed, assigned to stgeneral

[2013-01-16 22:45] #9 closed, assigned to nobody

[2013-01-17 16:05] #10 closed, assigned to nobody

[2013-03-25 15:00] missedone opened #12 "add the progressive info on the Project Overview page"
hi,

thanks for this good plugin to allow me view the progress of ALL the projects.

now, i think it would be nice it can put the progress info on the Project Overview page so that we can only see the current project

thanks

[2013-03-26 00:08] rsilvestri opened #13 "Fails on redmine 2.2.4"
below error results on any access to redmine once this plugin is installed:

ActionView::Template::Error (Missing partial projects/progressive_sidebar, application/progressive_sidebar with {:locale=>[:en], :formats=>[:html], :handlers=>[:erb, :builder, :rsb]}. Searched in:
- "/var/www/redmineprod/plugins/wiki_graphviz_plugin/app/views"
- "/var/www/redmineprod/plugins/sidebar_hide/app/views"
- "/va

[2013-03-28 07:43] #13 closed, assigned to stgeneral

[2013-04-02 11:53] #12 closed, assigned to stgeneral

[2013-04-17 16:03] R-i-c-k-y opened #15 "undefined method `progressive_setting' - Redmine 2.3.0"
Completed 500 Internal Server Error in 5414ms

[code]

[2013-05-13 15:20] rbugajewski opened #16 "Project list rendering very slow when plugin enabled"
When I activate the plugin, the projects page loads very slow (about 2.5–3.5 seconds) which is kind of annoying. I understand that the plugin has to get & render more things, but isn’t there a way to speed it up?

I’ve turned off the descriptions, but rendering the menu and progress takes at least 1 second for each. Here’s an excerpt from the logs:

[code]

Without the plugin I can load the list i

[2013-05-14 09:53] #16 closed, assigned to nobody

[2013-05-14 09:56] stgeneral opened #17 "Render menus & progress bars only for "my projects""

[2013-05-20 09:05] #17 closed, assigned to stgeneral

[2013-06-04 08:06] jamnanlaw opened #18 "Issues without target version still shown as late"
For issues without a target version, I would expect that there is no late/due date.

 However, in 0.4.0, a "shared with all" version will be used against those issues, like this:

![image](https://f.cloud.github.com/assets/2351456/604172/96d27078-cced-11e2-9aee-693e71feac62.png)

[2013-09-13 04:52] wadelo opened #19 "0.5.0 can't create project ( redmine 2.3.x )"
[code]

[2013-09-17 08:16] #19 closed, assigned to nobody

[2013-09-23 07:01] CodeInsider opened #26 "Display projects activity"
It would be great if there could be a small display which just displays how much activity is inside a specific project. For example how much comments posted, how many tickets solved/opened and the relation between opened and closed issues.

Maybe this is not the right plugin for this, but I think it would fit. :-)

Best regards,
Daniel

[2013-10-21 08:53] #18 closed, assigned to nobody

[2013-12-18 11:16] #15 closed, assigned to nobody

[2014-01-22 10:30] ppoektos opened #31 "Feature: display project's overview with subprojects as hierarchical structure"
Project's overview has an item "Subprojects:" which describes subprojects with commas in row. When you have a lot of subprojects it looks bad.
It would be great to display subprojects in overview as hierarchical structure as on main projects page.

[2014-01-22 10:51] ppoektos opened #32 "Recently viewed projects should be displayed only on main projects page"
It takes a lot of screen place in several tabs, for example in My page, in some plugins page, etc.
Or display/hide "recently viewed projects" has to be configurable in plugin's settings.

[2014-03-05 14:57] Liano opened #33 "Slow rendering"
Hello there,
We use here in our company redmine to manage project, and we have more than 70 projects, sub-projects and growing, the problem is when we show "projects" page without this plugin it renders in about ~100ms but enabling the plugin increase render time to ~2900ms (redmine logs).
installation is fresh and no other plugin installed.
Environment:
  Redmine version                2.5.0.stab

[2014-03-24 22:57] felipevp opened #34 "Plugin Development"
Hello,

I am trying to customize this plugin. After loading redmine in development mode, every time I change anything on the file lib/progressive/projects_helper_patch.rb (even adding only spaces), I get the following error:

[code]

I have to reload the web server to see the changes I have made.

I am using:
Redmine 2.3.1
RailsInstaller (windows 7 64 bits)
Ruby 1.9.3
Webrick

I have tried many ch

[2014-03-30 13:15] #6 closed, assigned to nobody

[2014-03-30 13:16] #26 closed, assigned to nobody

[2014-03-30 13:33] #8 closed, assigned to nobody

[2014-07-17 02:27] samtptw opened #35 "Provide Traditional Chinese translation"
zh-TW.yml
# Traitional Chinese translation

zh-TW:
  setting_show_project_description: 顯示專案說明
  setting_show_project_progress: 顯示專案進度
  setting_show_project_progress_overview: 在概覽頁面顯示專案進度
  setting_show_project_menu: 顯示專案選單
  setting_show_only_for_my_projects: 只顯示我參與的專案
  progressive_settings_hint: 預設。使用者在每次使用時可進行覆蓋。
  label_progress: 進度
  progressive_option_left: 左
  progressive_option_right: 右

[2014-07-22 03:22] onlyjob opened #36 "Please add license and copyright statement"
Please add copyright statement, something like

[code]

and the license. If you choose to use `MIT` license then the following text included to README.md should be sufficient:

[code]

This is required to make your excellent plugin re-distributable and to allow its packaging for GNU/Linux distributions like [Debian](http://debian.org).

The following links may be of use to learn more about how to

[2014-08-18 12:39] #35 closed, assigned to nobody

[2014-09-17 20:49] #34 closed, assigned to nobody

[2014-12-15 09:06] asmikhailov opened #40 "Problem with closed issuue with fixed version and separated due date"
In project_decorator.rb

    def opened_due_date
        @opened_due_date ||= [
         issues.open.maximum('due_date'),
         shared_versions.maximum('effective_date'),
         Issue.fixed_version(shared_versions).maximum('due_date')
        ].compact.max
      end

 Issue.fixed_version(shared_versions).maximum('due_date') filter closed issues with open. So any closed project with such issue

[2014-12-31 14:42] Saylrman64 opened #41 "Progress bar and progress % do not match - how is the math done?"
Hello,
I love this plugin but I need to be able to show my clients that it makes sense.
I often see project that show the bar 1/2 way across but the percent complete says 0%.
I've tried to fnd the documentation that explains how you calculate the % complete but I can not find anything.
I would gladly help update the documentation to explain the process or show how the % complete is calculated if y

[2015-01-01 21:40] romovs opened #42 "Version progress bar not displayed for shared versions"
If you create a new version in project A with sharing set to "With all project" and assign this version to an issue in another project B, the version progress bar is not rendered for project B.

[2015-01-02 17:35] stgeneral commented on #41
@Saylrman64 please read comments for #10. Seems it should explain you how these progress bars work. Let me know if you still have any questions.

Thanks for loving my plugin :)

[2015-01-05 23:03] Saylrman64 commented on #10
Hello again,

What I was looking for (and maybe others are too) is specifically how the progress % is determined.
Please correct me if I am wrong but in addition to the explination above I offer this:
It looks like the Progress Bar (lighter color) is estimated by adding the % done for each issue and dividing by the number of issues. Issues that are in Closed status = 100% no matter what the % Done

[2015-01-06 10:54] stgeneral commented on #10
@Saylrman64 as you can see the code for this calculations was cloned from the Redmine core. I believe that code and plugin should share the same behavior. So, if any change to this logic needs any update this update should be added to the Redmine core first.

[2015-01-06 13:50] Saylrman64 commented on #10
Thank you @stgeneral
If I wever get time or energy to make the estimation better, I will start with Redmine core.

Thanks again.

[2015-01-26 14:47] jmfarina opened #43 "Progress bar exceeding container's width"
At least in conjunction with the Fedmine plugin (https://github.com/Froiden/fedmine), in the projects list view, the progress bar displayed was exceeding the width of each project's box, hence overlapping between projects.
To fix it, I tried editing lib/progressive/projects_helper_patch.rb and replacing the width, which was being set in two different places, from 30em to 100%. That seems to have f

[2015-01-26 15:23] stgeneral commented on #43
@jmfarina thanks for interest to the plugin.

This plugin works utilizes pieces of the original Redmine code to render progressbard. It works well with build in themes and several custom themes. So, probably it would be better if you cross-post this issue to https://github.com/Froiden/fedmine repository.

[2015-01-26 15:24] #43 closed

[2015-02-25 14:00] Saylrman64 commented on #41
I did and it helps.
Still some strange math.

Thank you!

[2015-02-25 14:15] #41 closed

[2015-03-18 11:26] frequency1 opened #44 "page can not be displayed after installation on projects link"
ActionView::Template::Error (undefined method `closed_pourcent' for #<Version:0x007f1f981bb340>):
     9: <h2><%= l(:label_project_plural) %></h2>
    10:
    11: <div id="projects-index">
    12: <%= render_project_hierarchy(@projects) %>
    13: </div>
    14:
    15: <% if User.current.logged? %>
  app/helpers/application_helper.rb:279:in `block in render_project_nested_lists'
  app/helpers/app

[2015-03-18 12:52] stgeneral commented on #44
@frequency1 what version of Redmine do you use?

[2015-03-19 08:15] frequency1 commented on #44
Redmine 3.0

[2015-03-19 09:26] stgeneral opened #45 "Redmine 3.0 compatibility"
Plugin is not compatible with Redmine 3.0 now. Compatibility will be included in the next release.

[2015-03-19 09:27] stgeneral commented on #44
Plugin was never tested against Remine 3.0. So, seems it is not compatible with it. I've created an issue #45 and will add Redmine 3.0 compatibility when have some time.

[2015-03-28 14:34] #32 closed

[2015-03-28 14:34] #40 closed

[2015-03-28 14:34] #44 closed

[2015-03-28 14:47] stgeneral commented on #45
Resolved in b615f3a.

[2015-03-28 14:47] #45 closed

[2015-03-28 14:57] stgeneral commented on #42
Yes, indeed. Plugin renders not only versions that belong to the project. Redmine does not provide any good method to calculate issues of shared version for current project. Adding version rendering and extra logic may cause slowing down rendering while it is not perfect (#33). So, I'm leaving it as is for now.

[2015-03-28 14:58] stgeneral commented on #44
Issue was caused by closure of http://www.redmine.org/issues/12724.

[2015-04-07 08:30] ahsankhan201 commented on #10
@stgeneral can we also show the number of inprogress issues, and resolved issues?

[2015-04-07 09:06] stgeneral commented on #10
@ahsankhan201 Redmine has two high level statuses: 'open' and 'closed'. Other statuses ('In progress', 'Resolved', etc) are custom and should not be tracked by generic plugin.

[2015-04-07 09:09] ahsankhan201 commented on #10
@stgeneral  Thanks for your reply. but tell me how can i achive it by customise your plugin.
because i am a layman in redmine development.

[2015-04-07 09:11] stgeneral commented on #10
@ahsankhan201 you may take a look and customize this lines:
- https://github.com/stgeneral/redmine-progressive-projects-list/blob/master/lib/progressive/projects_helper_patch.rb#L29
- https://github.com/stgeneral/redmine-progressive-projects-list/blob/master/lib/progressive/projects_helper_patch.rb#L41

[2015-04-07 09:23] ahsankhan201 commented on #10
@stgeneral Many Many Thanks for your quick response.
I change this line by your given line but it shows this error in logs.
ActionView::Template::Error (undefined local variable or method `version' for #<#<Class:0xc1de4ec>:0xc1e4928>):
    9: <h2><%= l(:label_project_plural) %></h2>
    10:
    11: <div id="projects-index">
    12: <%= render_project_hierarchy(@projects) %>
    13: </div>
    14:

[2015-04-07 10:20] ahsankhan201 commented on #10
@stgeneral can you help me out to customise these lines. which argument i can add for getting in progress issues.?

[2015-04-08 15:05] stgeneral commented on #10
@ahsankhan201 I have no plan to add this feature to the plugin. So, you may feel free to update plugin as you like.

[2015-05-18 03:01] xian-crazy opened #46 "redmine 3.0 配置2.0.1 版本插件后 项目进度条显示百分比错误，见插图！"
![qq 20150518105736](https://cloud.githubusercontent.com/assets/6520452/7673810/ff271a16-fd4c-11e4-8a22-9dfb3b2c90be.png)

为什么显示的是100%呢

[2015-05-31 07:32] onlyjob commented on #36
Ping?

[2015-06-22 17:05] Marqin opened #49 "v2.0.1 does not work with Redmine 3.0.3"
I've updated Redmine to 3.0.3, and Your plugin to 2.0.1, and it shows "100%" for every project, even if it's not 100%:
![zrzut ekranu 2015-06-22 o 19 01 20](https://cloud.githubusercontent.com/assets/959429/8287681/8b8457be-1911-11e5-857b-4a79496f17fe.png)

[2015-06-22 17:22] Marqin commented on #49
It looks like definitions of issues_completed_percent and issues_closed_percent are missing.

[2015-06-22 17:31] Marqin commented on #49
It seem that some files are missing in v2.0.1 archive. Still, after installing from git HEAD it's showing 100% on all projects :disappointed:

[2015-06-22 18:06] Marqin commented on #49
@stgeneral if this can be any help, I found project without closed issues:
![zrzut ekranu 2015-06-22 o 20 05 10](https://cloud.githubusercontent.com/assets/959429/8289029/1d28cf8a-191a-11e5-8224-23b75ac386bf.png)

[2015-06-22 20:58] stgeneral commented on #49
Plugin was tested on Redmine 3.0.1. Did plugin work for you on 3.0.1 or 3.0.2?

[2015-06-22 22:06] Marqin commented on #49
I've updated from 2.6.5, so I don't know.

[2015-06-23 08:43] stgeneral commented on #49
It would be great if you could try it on the 3.0.1 and/or 3.0.2 in order we can localize the problem.

Also, can anybody else confirm any problems with 3.0.2 or 3.0.3?

[2015-06-23 10:08] Marqin commented on #49
If this can help, this is HTML from that "Sender" project progress bar:
![zrzut ekranu 2015-06-23 o 12 07 28](https://cloud.githubusercontent.com/assets/959429/8303769/807c97d4-19a0-11e5-930d-f6b5108870aa.png)

[2015-06-25 12:46] DavidLBCN commented on #49
I have the same problema. Status bar always shows 100%.
I use redmine versión 3.0.3

[2015-06-29 18:37] of10 commented on #49
Same problem for me.

Using plugin version 2.0.1 and Redmine 3.0.3.

[2015-07-08 07:48] sysgloo commented on #49
Same problem =(

Environment:
  Redmine version              3.0.3.stable.14416
  Ruby version                   1.9.3-p484 (2013-11-22) [x86_64-linux]
  Rails version                    4.2.3
  Environment                    production
  Database adapter            Mysql2
SCM:
  Subversion                     1.8.8
  Git                                   1.9.1

[2015-07-08 07:58] stgeneral commented on #49
Thanks everyone for the confirmation of the problem. Will take a look as soon as have some time.

[2015-07-09 11:42] sysgloo commented on #49
Np! We will wait for the solution of the problem! Thx 4 all

[2015-07-15 09:26] kakawait commented on #49
Same issue on 3.0.4 just FYI

[2015-07-22 11:21] gatewaybeard commented on #49
![progress](https://cloud.githubusercontent.com/assets/13450674/8824244/f379c0d6-306b-11e5-9a0a-47e8950119ab.PNG)

I am experiencing the same issue.
No project has any closed issues
No project has any issues over 10%

Environment:
  Redmine version                3.0.4.stable
  Ruby version                   2.0.0-p645 (2015-04-13) [i686-linux]
  Rails version                  4.2.3
  Environment

[2015-08-17 17:46] markus-fischbacher commented on #49
Same problem here.

Environment:
  Redmine version                3.1.0.stable.14506
  Ruby version                   1.9.3-p484 (2013-11-22) [x86_64-linux]
  Rails version                  4.2.3
  Environment                    production
  Database adapter               Mysql2
SCM:
  Subversion                     1.8.8
  Git                            1.9.1
  Filesystem
Redmine plugins:
  progr

[2015-08-19 11:05] jp-yendo commented on #49
It was confirmed operate in redmine3.1.0.
pull request one fix files.
Modified files to another has also been requested.

[2015-08-19 11:22] Marqin commented on #49
@jp-yendo do not create pull request for every file. Pull request whole feature-branch - in Your case it would be 1 Pull Request for fixing that bug.

https://help.github.com/articles/using-pull-requests/

[2015-08-19 13:44] jp-yendo commented on #49
sorry...
It does not make sense in the just started github.

[2015-08-26 22:16] RayLLer commented on #49
Any advance on this issue

[2015-09-28 22:00] pstamey opened #56 "404 - Version link produces error"
If you click on version link you get a 404 with the following link https://xxx/versions/594

![image](https://cloud.githubusercontent.com/assets/1383244/10149935/91ead11e-65f1-11e5-9d12-9d195de5f116.png)

Page not found

The page you were trying to access doesn't exist or has been removed.

Back

Running Redmine 3.1.0

[2015-10-13 12:19] shiningfm opened #58 "All projects to 100%"
Hello
I use redmine 3.0.1 and this plugin version 2.0.1, and the progress bar is always at 100%, which is of course irrelevant in almost all cases.
The bar doesn't show when no issues are opened though, which I think is right.
Why does it happen? How can I repair?
Thanks

[2015-10-13 12:38] stgeneral commented on #58
Seems that this problem was already reported #49. Also there is a pull request with a fix #55. You may try it but I haven't tested it.

Thank you.

[2015-10-13 12:48] shiningfm commented on #58
Sorry I didn't notice the bug report! Thank you for still taking time to answer!
I tried the fix and it seems to be working for me (I haven't calculated but I now have values that seem correct).

Thanks again

[2015-11-19 17:22] darioajr opened #59 "Redmine 3.1 Error"
[code]

[2015-11-20 07:43] stgeneral commented on #59
Any other details? Are you sure that the problem in the progressive-projects-list plugin?

[2015-11-20 12:51] darioajr commented on #59
This erro occurred when I click on Top Menu (Projects) or Menu (Overview)

[2016-01-04 21:03] stgeneral commented on #46
Looks like duplicate for #58, #49.

[2016-01-04 21:26] #36 closed

[2016-01-04 21:30] stgeneral commented on #58
Fixed by #55.

[2016-01-04 21:30] #58 closed

[2016-01-04 21:31] stgeneral commented on #46
Fixed by #55.

[2016-01-04 21:31] #46 closed

[2016-01-04 21:32] stgeneral commented on #49
Fixed by #55. Thanks everybody for help and @jp-yendo for the fix.

[2016-01-04 21:32] #49 closed

[2016-01-04 21:44] stgeneral commented on #59
Unable to reproduce it on Redmine 3.2. Please provide details from the log file if you still experience this issue.

[2016-01-04 21:44] #59 closed

[2016-01-04 21:46] stgeneral commented on #56
Link looks ok. Plugin does nothing with versions. Please try new version of the plugin (3.0.0) on the Redmine 3.2 and let me know if you still experience this issue.

[2016-01-04 21:46] #56 closed

[2016-01-04 23:26] onlyjob commented on #36
Thank you. :-)

[2016-03-05 19:22] jeacott1 opened #62 "redmine 3.2 RoutingError"
catastrophic failure with latest version (release, and master) of this plugin installed with redmine 3.2.

ActionController::RoutingError (No route matches [POST] "/cgi-bin/php4"):
  actionpack (4.2.2) lib/action_dispatch/middleware/debug_exceptions.rb:21:in `call'
  actionpack (4.2.2) lib/action_dispatch/middleware/show_exceptions.rb:30:in `call'
  railties (4.2.2) lib/rails/rack/logger.rb:38:in

[2016-03-06 19:12] stgeneral commented on #62
`cgi-bin/php4` does not have any relation to this plugin.

[2016-03-06 19:12] #62 closed

[2016-03-06 22:21] jeacott commented on #62
ok, so this plugin breaks something else. all works fine until this is installed. any thoughts?

[2016-03-07 16:18] stgeneral commented on #62
@jeacott @jeacott1 this error can't be caused by the plugin itself. In the provided log there are no mentions of the plugin. Something in you system makes calls to `cgi-bin/php4`.

[2016-03-08 03:26] jeacott commented on #62
ugh - just script kiddies bashing an open port. will find 'the relevant part' of the log and report back with something more sensible.

[2016-03-08 03:53] jeacott commented on #62
ok, my bad. after finding the error in the nginx log.
  Message from application: Progressive Project List plugin directory should be 'progressive_projects_list' instead of 'redmine-progressive-projects-list-3.0.1' (RuntimeError)

'redmine-progressive-projects-list-3.0.1' is what the zip download from github unpacks to btw.

[2016-03-19 20:46] daoth opened #63 "ActionView::Template::Error (undefined method `closed_pourcent'"
Started GET "/projects" for 113.185.6.37 at 2016-03-19 20:44:52 +0000
Processing by ProjectsController#index as HTML
  Current user: admin (id=1)
  Rendered projects/index.html.erb within layouts/base (211.9ms)
Completed 500 Internal Server Error in 243ms (ActiveRecord: 70.5ms)

ActionView::Template::Error (undefined method `closed_pourcent' for #<Version:0x007fdd6c77bf90>):
     9: <h2><%= l(:lab

[2016-03-21 20:52] stgeneral commented on #63
I believe you are using the outdated version of the plugin. Please upgrade it to the latest version.

[2016-03-21 20:52] #63 closed

[2016-06-10 15:51] benoitlm commented on #63
Hello,

I have install the last version on redmine 3.1.0 but the problem persist:

F, [2016-06-10T17:45:24.329137 #10055] FATAL -- :
ActionView::Template::Error (undefined method `closed_pourcent' for #<Version:0x000000074934d0>):
     9: <h2><%= l(:label_project_plural) %></h2>
    10:
    11: <div id="projects-index">
    12: <%= render_project_hierarchy(@projects) %>
    13: </div>
    14:

[2016-06-10 17:05] stgeneral commented on #63
@benoitlm please ensure that you use latest version of the plugin. To to Administration -> Plugins and ensure you have Progressive Projects List version **3.0.1**.

[2016-06-13 08:54] benoitlm commented on #63
Effectively, I used 1.0.0 when I donwloaded the last package from : https://github.com/stgeneral/redmine-progressive-projects-list/archive/latest.zip

Now, I use last source from git and it's work fine.

Thanks.

[2016-06-24 11:55] meron1122 opened #65 "Update to redmine 3.3"
Menu in project window is offset to right, because redmine add "+" in version 3.3
![zrzut ekranu z 2016-06-24 13 52 21](https://cloud.githubusercontent.com/assets/2895090/16337119/45865c52-3a13-11e6-89c3-404dd22900ca.png)

[2016-06-24 12:47] stgeneral commented on #65
Looks like you use custom theme. Do you experience same issue with the default Redmine theme?

Thank you!

[2016-06-24 12:50] meron1122 commented on #65
On stock theme too. :)

2016-06-24 14:47 GMT+02:00 Dmitry Babenko <notifications@github.com>:

[2016-06-24 13:00] stgeneral commented on #65
Ok, will take a look when we'll migrate to Redmine 3.3 :)

[2016-06-27 15:43] dsgonzalezo opened #66 "Count Subprijects"
I have been very useful plugin, however I would like to not only count requests, but also subprojects.
Thank you very much

[2016-07-02 14:45] stgeneral commented on #66
Thank you for you feedback.

I'm not sure that subprojects counter is something that is most users need to now every time they visit projects list. Not sure I'm going to implement this feature in the nearest future.

[2016-09-28 03:48] mothsun opened #67 "Problem with project progress"
I use redmine3.2 , no more other plugins . All of my projects display 100% progress , and the color is full of green in the progress bar , no matter the issues' status .

I modify   the file  `project_decorator.rb`:

[code]

After that , the problem is solved .
I do not understand .
plz take a look ,  thx !

[2016-10-15 14:04] mausampaio opened #68 "Project 100%"
If a project has closed all issues the progress bar is no longer shown, it should not be at 100%?

I'm using Redmine 3.3

[2016-10-15 18:51] stgeneral commented on #68
@mausampaio It would be great if you could provide a screenshot of the issue.

Thank you.

[2016-10-15 18:53] stgeneral commented on #67
@mothsun do you use the latest version of the plugin? Version 3.0.1?

Version 3.0.1 is used on the several Redmine 3.2 installation without such issue.
Probably you have some custom settings/configuration?

[2016-10-17 11:19] mausampaio commented on #68
No problem, here prints:

If i have 2 issues, 1 closed and 1 open:

![image](https://cloud.githubusercontent.com/assets/18605492/19435578/d05a0e36-9441-11e6-8435-9f3d24dc7943.png)

If I close the 2 issues,
the progress bar disappears instead of being 100%.

![image](https://cloud.githubusercontent.com/assets/18605492/19435694/6a94e4f8-9442-11e6-968a-187e33e66382.png)

Thank you for the help.

[2016-10-25 19:51] mausampaio commented on #68
https://github.com/stgeneral/redmine-progressive-projects-list/pull/69

[2016-10-31 21:38] #68 closed

[2016-11-16 17:58] AndrewRH commented on #65
Bump :)  I tried to fix it but my Ruby knowledge is really bad...If I manage to figure out what's going on then I'll submit a patch...  It'd be great to get his fixed!  I can confirm that with a fresh redmine (no themes/plugins) that the layout is as in the screenshot above.  Looks like a great plugin, can't wait to use it!
Thanks,

[2016-12-06 15:57] jeff-athentech opened #70 "sidebar causes layout issue"
Redmine version                3.3.1.stable
progressive_projects_list      3.0.1

If the sidebar is visible, then the progress bars get rendered with the gap you see below.  If I set display:none to #sidebar, then this layout issue goes away.

setting .progressive-project-version {clear:left} (instead of clear:both) also solves it.

![screen shot 2016-12-06 at 9 50 17 am](https://cloud.githubuserc

[2017-01-09 09:43] nadirlc opened #71 "Error message shown on Project Overview page"
![screenshot from 2017-01-09 14 40 36](https://cloud.githubusercontent.com/assets/20923812/21762351/0a37faee-d67a-11e6-83d8-852129ffba6a.png)
Hello,

The project overview page started showing an error after I activated the plugin. Please see attached screenshot.

Thanks,
Nadir Latif

[2017-01-10 07:49] stgeneral commented on #71
@nadirlc seems you use inappropriate version of plugin or Redmine. Please check the compatibly https://github.com/stgeneral/redmine-progressive-projects-list#compatibility

[2017-01-10 07:49] #71 closed

[2017-02-22 13:08] warply opened #72 "500 Internal Server Error on Projects screen"
I receive an Internal Server Error on Projects screen when i Enable the option " Show projects' progress"
Below you can the error from my log.

 Rendered projects/index.html.erb within layouts/base (261.5ms)
Completed 500 Internal Server Error in 300ms (ActiveRecord: 64.4ms)

ActionView::Template::Error (undefined method `closed_pourcent' for #<Version:0x007fa1845998b8>):
     9: <h2><%= l(:label_

[2017-02-22 14:09] stgeneral commented on #72
Please use version of plugin that supports your version of Redmine - https://github.com/stgeneral/redmine-progressive-projects-list#compatibility

This issue is duplicate of #63 and #44, some more details can be found there.

[2017-02-22 14:09] #72 closed

[2017-03-09 03:29] archonwang commented on #65
+1 same problem..
my environment

@stgeneral Could you make some patch to fix it? Thanks.

[2017-03-09 18:23] stgeneral commented on #65
Thank you for the feedback. Will try to take a look at this issue when will have some time. But can't promise any timeline.

[2017-07-31 04:30] keithkuk opened #74 "Compatibility with Redmine 3.4.2.stable"
rake aborted!
Progressive Project List plugin directory should be 'progressive_projects_list' instead of 'redmine-progressive-projects-list'
/var/www/html/redmine/plugins/redmine-progressive-projects-list/init.rb:2:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.4.1/gems/activesupport-4.2.8/lib/active_support/dependencies.rb:274:in `require'
/usr/local/rvm/gems/ruby-2.4.1/gems/activesupport-4.2.8

[2017-07-31 06:52] stgeneral commented on #74
Try to rename directory like it says in the error message:

Thank you.

[2017-10-27 15:25] Saylrman64 opened #75 "Feature Request for option to sort projects by date"
Hello,

I've been testing your plugin out and find it very useful for what I'm doing but I have a need to sort project by their timeline not simply list them in alphabetical order.
My intention is to add a few custom fields to Project and Versions to allow sorting by Project Start or End date.

How do I go about submitting a formal feature request or perhaps having you (hiring you) to modify your

[2017-10-30 11:31] stgeneral commented on #75
Hello @Saylrman64,

Glad to know that plugin is useful! Thank you.

According to your feature request, it sounds useful and looks like it is it possible. But the truth is that we don't use this plugin in our company now and put the development of this plugin on pause. So, we can't guarantee any timeline when any new feature will be added.

We would gladly to customize it for you or even develop ne

[2017-10-30 11:42] #74 closed

[2017-10-30 11:44] stgeneral commented on #67
Closing due to feedback absence.

[2017-10-30 11:44] #67 closed

[2017-10-30 11:44] #42 closed

[2017-10-31 10:52] recordables commented on #65
Just ran into this issue as well.. anyone figured this one out?

[2017-10-31 11:12] stgeneral commented on #65
As an temporary workaround you may try to turn off the `+` button in `Settings -> Display -> Project menu tab for creating new objects`.

Thank you for using the plugin and sorry you experience this issue.

[2017-11-11 01:01] Saylrman64 commented on #65
I had the same issues and for me it came down to some css changes.
I suggest making the changes in your custom theme sytlesheet so that it doesn't interfere with the redmine core.
Also, if you try to change the plugin stylesheet it will get overwritten when you update the plugin.

If you must put the changes in your redmine core application.css or in the plugin .css, be sure you have good notes an

[2017-11-11 02:47] Saylrman64 commented on #75
Hello sir,

I emailed the address  hello@ergoserv.com  and got a failure notice. See below.
I've verified my email server using MXToolBox. com and I'm not in any spam lists or blacklists.
How to proceed?

**Error Message:**
Your email to group hello@ergoserv.com was rejected due to spam classification. To address this issue: * Contact the owner of the group, who can choose to enable message modera

[2017-11-11 10:41] stgeneral commented on #75
Manuel, that's strange that your email was bounced. In this case, contact me please via linkedin (https://www.linkedin.com/in/dmitrybabenko/) or skype (ergoserv).

Meanwhile, we'll take a look at your feature request. For the first view it looks like something we'll be able to do.

Thank you.

[2017-12-04 06:13] casultran opened #76 "Redmine 3.4.x - Internal Server Error on Projects-Overview after creating "Versions" for Roadmap"
Hey everybody,

after successfull installation of this plugin everything is working as expected.

But when I create a new "Version" for the default Roadmap an internal server error on the Projects-Overview page appears.

My environment:

Ubuntu 16.04 LTS
Redmine: 3.4.3 (2017-10-15) - latest stable
Ruby: 2.4.2p198 (2017-09-14 rev. 59899) [x86_66-linux]
Rails 4.2.8

If you need any further informati

[2018-03-05 04:52] Quenii opened #77 "translation file missing one line"
for the "zh" version

+  setting_show_recent_projects: 显示“最近浏览过的项目”

[2018-07-31 04:51] sepahram opened #78 "Progress frame on Overview page"
Hi,

I have two little issues on the plugin/Progress frame (on Overview section).

On some resolutions, it takes the "version" to far end (**as pic1**)
Sort order of the version listed is not the same in different projects. (**as pic2**). Is it on Due date, name or is it random?

I'm running on this environment:
Redmine version 3.4.5.stable
Ruby version 2.3.1-p112 (2016-04-26) [x86_64-linux-gnu]
R

[2018-08-02 12:48] stgeneral commented on #78
Amir,

Thank you for attention to our plugin and reporting the issues.

Yes, this is known the issue. We will try to fix it in the next updates.

I guess this is a default Redmine's order. We don't sort them specifically anyhow.
Is the order is the same you see in at the each project `Roadmap` tab?

[2018-08-02 16:07] stgeneral commented on #77
Thank for the notice!

Will you be able to wrap it into PR in order we could pull it in?

[2018-08-04 05:26] sepahram commented on #78
stgeneral,

I am working on a new theme, so I tried to fix the issue by changing css. It looks good so far.

Regarding the second issue, the answer is no. If you don't sort it in any way, it'll be ordered based on record number, or date created, for that matter.

The sort order in `Roadmap `is on 1) due date, then 2) name (if no due date is set).
I guess you should do the same.

By the way, I'm at

[2018-08-13 18:27] rayures opened #79 "Cannot install on redmine 3.4.6, errors on bundle"
tried to install this plugin om my redmine instance. Unfortunately it did not work.

getting errors on bundle.

Environment:
  Redmine version                3.4.6.stable
  Ruby version                   2.3.7-p456 (2018-03-28) [x86_64-linux-gnu]
  Rails version                  4.2.8
  Environment                 production
  Database adapter               PostgreSQL

please ask if more info is n

[2018-08-15 06:51] rayures commented on #79
Hmm, when collecting logs for you it suddenly works.

Made a copy of production, cleaned all and did a git clone. Renamed the plugin folder and bundle and a restart. plugin works :-)
Earlier i did the same and it did not work, all kinds of gem errors.

Now only a solution for the 2 column layout in the project overview. But i think that is a Redmine thing.

Tnx for your work on the plugin! much ap

[2018-08-15 07:27] stgeneral commented on #79
Thanks! Happy using plugin 👍

[2018-08-15 07:27] #79 closed

[2018-08-22 06:34] mmxbow opened #81 "ActionView::Template::Error"
Environment:
* Ubuntu 18.04 server
* Ruby 2.5.1
* Redmine 3.4.6
* Rails 4.2.8

After installing the plugin i've got a error:
<pre><code>
ActionView::Template::Error incomplete format specifier; use %% (double %) instead
</code></pre>

I made a correction in the file lib/progressive/projects_helper_patch.rb:

the line 48:
<pre><code class="ruby">
s << progress_bar([project.issues_close_percent, pro

[2018-08-22 06:39] mmxbow commented on #81
I think the line 60 in the same file need to be corrected too:
replace format '%0.0f%' by '%0.0f%%'

[2018-08-22 06:41] stgeneral commented on #81
@mmxbow thanks for the report and attention to the plugin!

I suppose that issue is caused by Ruby 2.5.1. It seems that Redmine itself was not tested against the 2.5 (see http://www.redmine.org/projects/redmine/wiki/RedmineInstall).

These lines were copied from the Redmine's code. So, you might experience other issues with Redmine. Maybe you should consider downgrading Ruby to officially supporte

[2018-09-06 06:13] kulombok commented on #81
I have the same issue with the same ruby version 2.5.1
For now, would you like to tell me how to uninstall this plugin ?
I looking forward when its support to ruby 2.5 thx

[2018-09-06 07:51] stgeneral commented on #81
Thanks for confirming.

Is your clean Redmine setup works well with Ruby 2.5?

[2018-09-14 06:54] Nemezius opened #82 "Update to Redmine 3.4.2"
@stgeneral  May I please ask you to update the plugin for Redmine 3.4.2 as currently it cannot be installed on Rm 3.4.2-Stable?

Thank you.

[2018-09-14 09:07] stgeneral commented on #82
Thank you for a report. What error do you get?

[2018-09-26 05:55] sepahram opened #85 "Internal error on Overiew page"
I'm getting this "internal error (500) on Overview page of projects. Although, it's OK on Roadmap.

Environment:
  Redmine version                3.4.6.stable
  Ruby version                   2.5.1-p57 (2018-03-29) [x86_64-linux-gnu]
  Rails version                  4.2.8
  Environment                    production
  Database adapter               PostgreSQL
SCM:
  Git                            2

[2018-09-27 14:52] stgeneral commented on #85
Can you please try to install the plugin from the PR #84 and let me know if it works correctly?

[2018-09-29 05:34] sepahram commented on #85
I got and apply the new code. It solved part of the problem, which is before adding Target version.
As soon as I add a new version (with or without assigning an issue to it), I'm getting the same error.

By the way, It' OK on Roadmap.
![redmine-progressing-roadmap](https://user-images.githubusercontent.com/41936290/46241430-b4428780-c3c6-11e8-9067-5ed696089662.jpg)

[2018-09-30 05:13] Ataeifard commented on #85
Escape the percent in '%0.0f%%',
Tested on redmine 3.4.6, ruby 2.5.1

[2018-10-01 07:36] alexckua commented on #85
Hi. I fixed it. Can you please try again to install the plugin from the PR #84?

[2018-10-04 08:55] sepahram commented on #85
Worked all right.
Thanks.

[2019-02-20 12:11] twkrol opened #86 "Not compatible with Redmine 4.x"
Hi
I've recently upgraded to Redmine 4.0.1 and this plugin is not compatible with it (due to Rails incompatibility I think)
Any plans to fix it?
Thanks

[2019-02-22 12:42] stgeneral commented on #86
Thank you for reporting this issue.

Yes, we will fix the issue but can't promise any specific timeline yet.

[2019-02-22 12:48] stgeneral commented on #86
By the way, could you please try to install the plugin from the PR #84? This PR contains updates for the compatibility with the newer versions of Ruby.

Let me know the results, please.

[2019-02-23 17:32] twkrol commented on #86
Nope, doesn't work

[2019-09-11 09:56] piolty commented on #86
Hi guys, do you have any news about that? Is there anything I can do to integrate it on 4 version? Thanks a lot

[2019-09-13 20:22] stgeneral commented on #86
@piolty it's difficult to say. But hope we make the appropriate updates by the end of the year :)

[2019-10-29 09:23] #76 closed

[2019-10-29 09:51] stgeneral commented on #81
Should be fixed by #84.

[2019-10-29 09:51] #81 closed

[2019-10-29 09:57] stgeneral commented on #85
Fixed by #84.

[2019-10-29 09:57] #85 closed

[2019-12-02 10:21] dedounet commented on #86
Hi there ! Any news on a compatibility update ? Would be great !

[2019-12-03 20:50] stgeneral commented on #86
Still, hope to update it by the end of the year. We have updated it for Redmine 3.4 in #88 and this issue is the next step.

Thanks for keeping asking, it motivates us to deliver updates :)

[2019-12-07 12:33] jamasi commented on #86
To motivate you further: I also stumbled on this compatibility issue today and am looking forward to the upcoming fix.

For reference: This is what I get while trying to run the database migrations while the plugin is installed on Redmine 4.0.5:

[code]

[2019-12-10 09:34] #77 closed

[2019-12-11 16:37] stgeneral commented on #86
Hey, @twkrol @piolty @dedounet @jamasi and everybody interested,

Would you like to try the updated version and confirm if it works for you? :)

Updated code in PR #90 and you can [download zip file](https://github.com/stgeneral/redmine-progressive-projects-list/archive/feature/5702-update-to-redmine-4-0-5.zip).

Thank you in advance for the testing and feedback.

[2019-12-22 17:26] #86 closed

[2019-12-22 17:27] stgeneral commented on #82
Fixed in #90.

[2019-12-22 17:27] #82 closed

[2019-12-22 17:27] stgeneral commented on #65
Fixed in #90.

[2019-12-22 17:27] #65 closed

[2020-10-25 16:00] SeminYun opened #92 "Can we check"
We have Versions: ALPHA 3.0 and ALPHA 4.0

ALPHA 3.0 and ALPHA 4.0 are on A and it Shared to B C D

Project Tree
   A  ----B
       ----C
       ----D

We want to show ALPHA 3.0 and 4.0 Progressive bar on B and C and D
But We only show on A

Is it possible?

Our Project Image.
![image](https://user-images.githubusercontent.com/5058355/97112250-97ecb280-1726-11eb-95c3-c7e7b162bff1.png)

[2020-10-26 09:57] stgeneral commented on #92
@SeminYun I don't think so, we use built-in methods to get projects' versions and that's how they look like.

[2021-10-12 12:10] uart-aplex opened #93 "Is it possible to add export all projects list into excel(VCL) file?"
Is it possible to add export all projects list into excel(VCL) file by some filter option(like issues filter and field option)?

[2021-10-12 17:59] stgeneral commented on #93
Well, this plugin is focused on providing the UI adjustments and I don't think this plugin will ever be extended with such a huge feature. It probably could be a separate plugin e.g. "projects_export" or something like that and we can consider developing it for you on a commercial basis if needed.

[2021-10-12 17:59] #93 closed, assigned to nobody

[2022-05-17 14:24] eximius313 opened #94 "Compatibility with 5.x?"
Are there any plans to support 5.x?

Kind regards

[2022-05-17 16:10] stgeneral commented on #94
@eximius313 thank you for the interest in the plugin.

Of course, we would like to make it compatible with newer versions of Redmine but unfortunately we don't have specific plans for this. Probably, if someone would to sponsor this update it may help to speed up things.

Have you already tried to install it on Redmine 5?
What errors do you get?

[2022-05-22 18:01] mattwire commented on #94
@stgeneral I think that it is the change to zeitwerk loader  - see https://www.redmine.org/issues/29914

[2022-09-23 18:50] thecibi commented on #94
Hi ,

I'm really not a developper , but i past the week looking for a plugins like this working on Redmine 5. Didn't find any ,  so after a lot of forum , i changed init.rb :

#require 'progressive_projects_list'
#require 'progressive/application_helper_patch'
#require 'progressive/projects_helper_patch'
#require 'progressive/projects_list_view_listener'
#require 'progressive/recent_projects_view_